<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">
<link rel="import" href="../buttons/button.element.html">

<dom-module id="header-element">
    <link rel="import" type="css" href="header.element.css">
    <template>        
        <header>
            <div class="banner" id="headerBanner">
            <div class="text shadow">
                <span>iain</span><span class="plimmer">plimmer</span>
            </div>
            <div class="text">
                Full stack developer for Modern Web Applications
            </div>
            <button-element href="mailto:iainplimmer@gmail.com" target="_blank" title="Get in touch"></button-element>
            <button-element href="https://github.com/iainplimmer" target="_blank" title="Github"></button-element>
            <button-element href="http://www.twitter.com/iainplimmer" target="_blank" title="Twitter"></button-element>
            </div>
        </header>
    </template>
    <script src="./header.element.js"></script>
</dom-module>