 .banner {    
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff!important;
    text-align: center;
    font-weight: 200;
    background-color: #159957!important;
    background-image: linear-gradient(120deg, #155799, #159957)
}

.banner .shadow {
    font-size: 40pt;
    text-shadow: 0 6px 0 rgba(0,0,0,.15);
}

.text {       
    padding-bottom: 10px;
}

.plimmer {
    font-weight: 700;
}       