
.header {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #0074D9;
}

.game-board {
    padding: 20px 0;                        
}

.header p {
    color: #9ed2ff;
}

.header a {
    color: #ffffff;
}

.modal {
    display:block;
}

.letter {
    border: black solid 1px;
    padding: 10px;
    display: inline;
    font-size: 15px; 
    text-align: center; 
    font-weight: bold;
    line-height: 50px
}

.modal-header,
.btn-default {
    color: #0074D9;    
    background-color: #9ed2ff;
}

.btn-group {
    padding-top: 30px;
}

.btn-primary, .btn-primary:hover {
    background-color: #9ed2ff;
    color: #0074D9;
    border-color: #9ed2ff;    
}

.active {
    background-color: #cdbfe3 !important;
    color: #0074D9 !important;
    border-color: #cdbfe3 !important;
    box-shadow:none !important;
}


.modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:300px;
    height:300px;
}