body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300!important;
    font-size: 18px;
    margin:  0px;    
}

main {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-bottom: 50px;
}

.warning {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
    padding: 30px;
    text-decoration: none;
    text-align: center;
}

.avatar {
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #cfd8dc;
}

img {
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 30px;
    clear:both;
}

.banner {    
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff!important;
    text-align: center;
    font-weight: 200;
    background-color: #159957!important;
    background-image: linear-gradient(120deg, #155799, #159957)
}

.banner .shadow {
    font-size: 40pt;
    text-shadow: 0 6px 0 rgba(0,0,0,.15);
}

.text {       
    padding-bottom: 10px;
}

.plimmer {
    font-weight: 700;
}       

footer {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
 }

 a {
	color: white;
	border-radius: 5px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);	
	padding: 5px;
	text-decoration: none;
	line-height: 50px;
}