<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">
<link rel="import" href="../buttons/button.element.html">

<dom-module id="experience-element">
    <link rel="import" type="css" href="experience.element.css">
    <template>        
            
                <h3>Day to day i use....</h3>
                <button-element title="Microsoft Web API"></button-element>
                <button-element title="Javascript"></button-element>
                <button-element title="C#"></button-element>            
                <button-element title="HTML5"></button-element>   
                <button-element title="RESTful Web Services"></button-element>                
                <button-element title="ASP.NET MVC"></button-element>                
                <button-element title="SQL Server"></button-element>                

                <h3>In my spare time i like to use....</h3>
                <button-element title="Typescript" colour="#FFA500"></button-element>          
                <button-element title="Angular 4+" colour="#FFA500"></button-element>                    
                <button-element title="Polymer 2.0" colour="#FFA500"></button-element>                

                <h3>I have experience of using in the past....</h3>
                <button-element title="JQuery" colour="#9F000F"></button-element>
                <button-element title="ASP.NET Web Forms" colour="#9F000F"></button-element>
                <button-element title="Visual Basic" colour="#9F000F"></button-element>
                <button-element title="Coldfusion" colour="#9F000F"></button-element>
            
    </template>
    <script src="./experience.element.js"></script>
</dom-module>